.container .fa-caret-down {
  width: 22px;
  height: 19px;
  font-family: FontAwesome;
  padding-left: 5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
  text-align: center;
  color: #0f0505; }
.container button:hover i {
  color: #ee534f; }
.container .fa-search {
  color: #ee534f; }
.container a {
  text-decoration: none;
  color: #666666;
  padding: 5px; }

.container1 p {
  opacity: 0.9; }

.container3 h2 {
  font-family: Poppins-semiBold;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-align: center;
  display: block; }
.container3 .info i {
  width: 22px;
  height: 19px;
  font-family: FontAwesome;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
  text-align: center;
  color: #ee534f; }

.container5 .team_layout h4 {
  margin-top: 0; }
.container5 .team_layout p {
  margin-top: 0;
  width: 217px;
  height: 153px; }
.container5 .member_icons i {
  width: 22px;
  height: 19px;
  font-family: FontAwesome;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
  text-align: center;
  color: #88888888;
  padding: 5px; }
.container5 .member_icons a {
  text-decoration: none; }

.container7 .fa-paper-plane {
  width: 22px;
  height: 19px;
  font-family: FontAwesome;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
  text-align: center;
  color: #ee534f;
  padding-right: 15px; }

.contact_info a {
  text-decoration: none; }

.footer i {
  width: 22px;
  height: 19px;
  font-family: FontAwesome;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
  text-align: center;
  color: #e8e8e8; }
.footer a {
  text-decoration: none;
  padding: 3px; }

.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.7fr;
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  height: 60.5px;
  padding-top: 17px;
  z-index: 1; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  text-align: left;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.container1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  color: #e8e8e8; }

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px; }
  .container2 .red_line_fade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content; }
    .container2 .red_line_fade .red_line {
      height: 1.5px;
      width: 30px;
      background-color: #ee534f; }
    .container2 .red_line_fade .fade {
      height: 1.5px;
      width: 138.5px;
      background-color: grey;
      opacity: 0.3; }
  .container2 .img_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    padding-right: 187.5px; }
    .container2 .img_container .block_display {
      width: 220px;
      height: 200px;
      padding: 10px; }

.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
  color: #ffffff;
  padding: 60px 147.5px 60px 147.5px;
  margin-top: 100px; }
  .container3 .info {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px; }

.container4 {
  padding-left: 187.5px;
  padding-right: 187.5px;
  margin-bottom: 50px;
  margin-top: 50px; }
  .container4 .red_line_fade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content; }
    .container4 .red_line_fade .red_line {
      height: 1.5px;
      width: 30px;
      background-color: #ee534f; }
    .container4 .red_line_fade .fade {
      height: 1.5px;
      width: 138.5px;
      background-color: grey;
      opacity: 0.3; }
  .container4 .img_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content;
    margin-left: 130px; }
    .container4 .img_wrapper .course_img {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: min-content; }

.container5 {
  padding-left: 187.5px;
  padding-right: 187.5px; }
  .container5 .team_info {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .container5 .team_info hr {
      width: 200px;
      color: #666666;
      margin-left: 0; }
    .container5 .team_info .poppins {
      font-family: Poppins;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.86;
      letter-spacing: normal;
      text-align: left;
      color: #888888;
      height: auto; }
  .container5 .team_member {
    width: 190px;
    height: 258px; }
  .container5 .team_layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: min-content;
    width: min-content; }
    .container5 .team_layout .member_space {
      margin-left: 20px;
      margin-bottom: 20px; }

.container6 {
  background-color: #555555;
  height: 300px;
  padding-left: 187.5px;
  padding-right: 187.5px; }

.container7 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px; }

.container8 {
  background-color: #666666;
  height: 300px; }

.contact_info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 188px;
  padding-right: 164px; }

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ee534f;
  height: 40px;
  padding-top: 22px; }
  .footer .follow_us {
    padding-right: 62px; }
  .footer .copyright {
    padding-left: 55px; }

.container a :hover {
  color: #ee534f;
  background-color: #ee534f; }
.container .logo {
  height: 60px;
  width: 200px;
  margin-bottom: 21px; }
.container .logo_flex {
  display: flex;
  align-items: center; }
.container .nav_align {
  text-align: right; }
.container .vertical_align {
  text-align: -webkit-center;
  margin-top: 14px; }

.dropbtn {
  background-color: #f9f9f9;
  color: #666666;
  padding: 16px;
  font-size: 16px;
  font-family: -webkit-body;
  border: none; }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block; }

.dropdown-content a:hover {
  background-color: #ddd; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
<<<<<<< HEAD
  background-color: #eaf1ea; }
  .dropdown:hover .dropbtn .fa-caret-down {
    color: #666666; }
=======
  background-color: #f9f9f9; }
>>>>>>> 81d30949e879b9db005a81cf5aecfc30035adfef

.team_img {
  width: 100%; }

.background_image {
  background-image: url(../images/main_img.jpg);
  background-size: cover;
  height: -webkit-fill-available;
  background-repeat: no-repeat;
  background-color: grey;
  background-blend-mode: multiply;
  font-size: 20px; }

.container1 .red_btn {
  background-color: #ee534f;
  color: #e8e8e8;
  position: relative;
  padding: .3em 1em;
  border: 2px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em !important;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s; }
.container1 .slide_right span:after {
  content: '\00bb';
  right: -100px;
  position: absolute;
  margin-left: -1em;
  opacity: 0;
  text-shadow: none;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  font-variant: none;
  line-height: 1em;
  text-transform: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  left: 30px; }
.container1 .slide_right:hover span {
  padding-right: 25px; }
.container1 .slide_right:hover span:after {
  opacity: 1; }
.container1 .slide_right span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }
.container1 .black_btn {
  background-color: transparent;
  color: #e8e8e8;
  position: relative;
  padding: .3em 1em;
  border: 2px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em !important;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s; }
.container1 .black_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }
.container1 .black_btn span:after {
  content: '\00bb';
  right: -100px;
  position: absolute;
  margin-left: -1em;
  opacity: 0;
  text-shadow: none;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  font-variant: none;
  line-height: 1em;
  text-transform: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  left: 30px; }
.container1 .black_btn:hover span {
  padding-right: 25px; }
.container1 .black_btn:hover span:after {
  opacity: 1; }

.container2 .para_text {
  padding-left: 187.5px; }
  .container2 .para_text .bold_text {
    font-weight: bold; }
.container2 .white_btn {
  background-color: transparent;
  color: black;
  position: relative;
  padding: .3em 1em;
  border: 2px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em !important;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s; }
.container2 .white_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }
.container2 .white_btn span:after {
  content: '\00bb';
  right: -100px;
  position: absolute;
  margin-left: -1em;
  opacity: 0;
  text-shadow: none;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  font-variant: none;
  line-height: 1em;
  text-transform: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  left: 30px; }
.container2 .white_btn:hover span {
  padding-right: 25px; }
.container2 .white_btn:hover span:after {
  opacity: 1; }

.container4 .image_quad {
  width: 140px;
  height: 100px;
  padding: 2.5px; }
.container4 .image_enlarge {
  width: 295px;
  height: 205px;
  padding-left: 5px;
  padding-top: 3px; }

.container5 .red_line_fade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: min-content; }
  .container5 .red_line_fade .red_line {
    height: 1.5px;
    width: 30px;
    background-color: #ee534f; }
  .container5 .red_line_fade .fade {
    height: 1.5px;
    width: 138.5px;
    background-color: grey;
    opacity: 0.3; }

.footer .copyright {
  text-align: center; }
.footer .follow_us {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
