.container .fa-caret-down {
  width: 22px;
  height: 19px;
  font-family: FontAwesome;
  padding-left: 5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
  text-align: center;
  color: #0f0505; }
.container button:hover i {
  color: #ee534f; }
.container .fa-search {
  color: #ee534f; }
.container a {
  text-decoration: none;
  color: #666666;
  padding: 5px; }

.container1 p {
  opacity: 0.9; }

.container3 h2 {
  font-family: Poppins-semiBold;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-align: center;
  display: block; }
.container3 .info i {
  width: 22px;
  height: 19px;
  font-family: FontAwesome;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
  text-align: center;
  color: #ee534f; }

.container5 .team_layout h4 {
  margin-top: 0; }
.container5 .team_layout p {
  margin-top: 0;
  width: 280px;
  height: 153px; }
.container5 .member_icons i {
  width: 22px;
  height: 19px;
  font-family: FontAwesome;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
  text-align: center;
  color: #88888888;
  padding: 5px; }
.container5 .member_icons a {
  text-decoration: none; }

.container7 .fa-paper-plane {
  width: 22px;
  height: 19px;
  font-family: FontAwesome;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
  text-align: center;
  color: #ee534f;
  padding-right: 15px; }

.contact_info a {
  text-decoration: none; }

.footer i {
  width: 22px;
  height: 19px;
  font-family: FontAwesome;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
  text-align: center;
  color: #e8e8e8; }
.footer a {
  text-decoration: none;
  padding: 3px; }

.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.7fr;
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  height: 15%;
  z-index: 1; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  text-align: left;
  min-width: 30%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1em; }
  .container2 .red_line_fade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content; }
    .container2 .red_line_fade .red_line {
      height: 1.5px;
      width: 30px;
      background-color: #EE524E; }
    .container2 .red_line_fade .fade {
      height: 1.5px;
      width: 138.5px;
      background-color: grey;
      opacity: 0.3; }
  .container2 .img_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    align-content: center; }
    .container2 .img_container .block_display {
      width: 207px;
      height: 200px;
      padding: 10px; }

.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
  color: #ffffff;
  padding: 35px 48.5px 20px 48.5px;
  margin-top: 100px; }
  .container3 .info {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px; }

.container4 {
  padding-left: 92.5px;
  padding-right: 92.5px;
  margin-bottom: 50px;
  margin-top: 50px; }
  .container4 .red_line_fade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content; }
    .container4 .red_line_fade .red_line {
      height: 1.5px;
      width: 30px;
      background-color: #EE524E; }
    .container4 .red_line_fade .fade {
      height: 1.5px;
      width: 138.5px;
      background-color: grey;
      opacity: 0.3; }
  .container4 .img_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content; }
    .container4 .img_wrapper .course_img {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: min-content; }

.container5 {
  padding-left: 92.5px;
  padding-right: 92.5px; }
  .container5 .team_info {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .container5 .team_info hr {
      width: 200px;
      color: #666666;
      margin-left: 0; }
    .container5 .team_info .poppins {
      font-family: Poppins;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.86;
      letter-spacing: normal;
      text-align: left;
      color: #888888;
      height: auto; }
  .container5 .team_member {
    width: 190px;
    height: 258px; }
  .container5 .team_layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: min-content;
    width: min-content; }
    .container5 .team_layout .member_space {
      margin-left: 20px;
      margin-bottom: 20px; }

.container6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
  color: #e8e8e8;
  height: 300px;
  padding-left: 93px; }
  .container6 .red_line_fade {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min-content; }
    .container6 .red_line_fade .red_line {
      height: 1.5px;
      width: 30px;
      background-color: #EE524E; }
    .container6 .red_line_fade .fade {
      height: 1.5px;
      width: 138.5px;
      background-color: grey;
      opacity: 0.3; }
  .container6 .red_line_fade {
    margin-top: 50px;
    height: 20px; }
    .container6 .red_line_fade .red_line {
      height: 5px; }
    .container6 .red_line_fade .fade {
      height: 5px; }

.container7 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px; }

.carousel {
  background-color: black;
  width: 100%;
  height: 200px; }

.container_carousel {
  display: block;
  margin: 0 auto;
  height: 178px;
  border: 1px solid black;
  overflow: hidden;
  background-color: black; }

.sub {
  height: 180px;
  width: 5180px;
  background-color: black;
  animation-name: carousel;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
  left: 100%; }

.sub img {
  display: inline;
  width: auto;
  height: 180px;
  margin-right: 50px; }

@keyframes carousel {
  100% {
    position: relative;
    left: -4580px; } }
.contact_info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 92px; }
  .contact_info .contact_number {
    padding-top: 62px; }

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ee534f;
  height: 40px;
  padding-top: 22px; }
  .footer .follow_us {
    padding-right: 62px; }
  .footer .copyright {
    padding-left: 55px; }

.container a :hover {
  color: #ee534f;
  background-color: #ee534f; }
.container .logo {
  height: 60px;
  width: 200px; }
.container .logo_flex {
  display: flex;
  align-items: center; }
.container .nav_align {
  text-align: right; }
.container .vertical_align {
  text-align: -webkit-center;
  margin-top: 18px; }

.dropbtn {
  background-color: #f9f9f9;
  color: #666666;
  padding: 16px;
  font-size: 16px;
  font-family: -webkit-body;
  border: none; }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block; }

.dropdown-content a:hover {
  background-color: #ddd; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: #f9f9f9; }

.team_img {
  width: 100%; }

.background_image {
  background-image: url(../images/main_img.jpg);
  background-size: cover;
  height: -webkit-fill-available;
  background-repeat: no-repeat;
  background-color: grey;
  background-blend-mode: multiply;
  font-size: 20px; }

.container1 .red_btn {
  background-color: #ee534f;
  color: #e8e8e8;
  position: relative;
  padding: .3em 1em;
  border: 2px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em !important;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s; }
.container1 .slide_right span:after {
  content: '\00bb';
  right: -100px;
  position: absolute;
  margin-left: -1em;
  opacity: 0;
  text-shadow: none;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  font-variant: none;
  line-height: 1em;
  text-transform: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  left: 30px; }
.container1 .slide_right:hover span {
  padding-right: 25px; }
.container1 .slide_right:hover span:after {
  opacity: 1; }
.container1 .slide_right span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }
.container1 .black_btn {
  background-color: transparent;
  color: #e8e8e8;
  position: relative;
  padding: .3em 1em;
  border: 2px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em !important;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s; }
.container1 .black_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }
.container1 .black_btn span:after {
  content: '\00bb';
  right: -100px;
  position: absolute;
  margin-left: -1em;
  opacity: 0;
  text-shadow: none;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  font-variant: none;
  line-height: 1em;
  text-transform: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  left: 30px; }
.container1 .black_btn:hover span {
  padding-right: 25px; }
.container1 .black_btn:hover span:after {
  opacity: 1; }

.container2 .para_text .bold_text {
  font-weight: bold;
  width: 18em; }
.container2 .white_btn {
  background-color: transparent;
  color: black;
  position: relative;
  padding: .3em 1em;
  border: 2px solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7em !important;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s; }
.container2 .white_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s; }
.container2 .white_btn span:after {
  content: '\00bb';
  right: -100px;
  position: absolute;
  margin-left: -1em;
  opacity: 0;
  text-shadow: none;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  font-variant: none;
  line-height: 1em;
  text-transform: none;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  left: 30px; }
.container2 .white_btn:hover span {
  padding-right: 25px; }
.container2 .white_btn:hover span:after {
  opacity: 1; }

.container4 .image_quad {
  width: 245px;
  height: 192px;
  padding: 2.5px; }
.container4 .image_enlarge {
  width: 548px;
  height: 388px;
  padding-left: 5px;
  padding-top: 3px; }

.container5 .red_line_fade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: min-content; }
  .container5 .red_line_fade .red_line {
    height: 1.5px;
    width: 30px;
    background-color: #EE524E; }
  .container5 .red_line_fade .fade {
    height: 1.5px;
    width: 138.5px;
    background-color: grey;
    opacity: 0.3; }

.footer .copyright {
  text-align: left; }
.footer .follow_us {
  text-align: right; }

@media screen and (max-width: 600px) {
  .background_image {
    width: 15.75em;
    height: 45.625em; }

  .main_container .container {
    display: none; }
  .main_container .container1 {
    text-align: center;
    position: absolute;
    top: 13.75em;
    height: 31.25em;
    transform: inherit;
    color: #e8e8e8; }
  .main_container .vertical_align {
    display: none; }
  .main_container .logo {
    display: none; }

  .container2 {
    display: grid;
    grid-template-columns: 1fr; }
    .container2 .para_text {
      padding: 0; }
      .container2 .para_text .bold_text {
        width: 90%; }
        .container2 .para_text .bold_text p {
          width: 90%; }
    .container2 .img_container {
      display: grid;
      grid-template-columns: 1fr; }
      .container2 .img_container .block_display {
        width: 90%; }

  .container3 {
    display: grid;
    grid-template-columns: 1fr; }
    .container3 .info {
      padding: 0; }

  .container4 {
    display: grid;
    grid-template-columns: auto;
    padding-left: 0px; }
    .container4 p {
      width: 90%; }
    .container4 .course_img .image_quad {
      width: 18em; }
    .container4 .img_wrapper {
      display: grid;
      grid-template-columns: 1fr; }
      .container4 .img_wrapper .image_enlarge {
        width: 17.85em;
        height: auto; }
      .container4 .img_wrapper .course_img {
        display: grid;
        grid-template-columns: 1fr; }

  .container5 {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0px; }
    .container5 p {
      width: 20em; }
    .container5 .team_member {
      width: 18em;
      height: 18em; }
    .container5 .team_layout {
      display: grid;
      grid-template-columns: 1fr; }
      .container5 .team_layout p {
        width: 17em;
        height: auto; }
      .container5 .team_layout .member_space {
        margin-left: 1em;
        margin-bottom: 1em; }
    .container5 .team_info {
      display: grid;
      grid-template-columns: 1fr; }
      .container5 .team_info hr {
        width: 9em;
        color: #666666;
        margin-left: 0; }

  .container6 {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0px;
    height: auto; }
    .container6 .red_line_fade {
      padding-left: 4em; }
    .container6 .project_stats {
      text-align: center; }

  .contact_info {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0px; }

  .footer {
    display: grid;
    grid-template-columns: 1fr; }
    .footer .copyright {
      padding-left: 1.5em; }
    .footer .follow_us {
      padding-right: 0px;
      text-align: left;
      padding-left: 1.5em; }
      .footer .follow_us i {
        font-size: 0.75em; } }
@media screen and (min-width: 601px) and (max-width: 993px) {
  .background_image {
    width: 15.75em;
    height: 45.625em; }

  .main_container .container {
    display: none; }
  .main_container .container1 {
    text-align: center;
    position: absolute;
    top: 13.75em;
    height: 31.25em;
    transform: inherit;
    color: #e8e8e8; }
  .main_container .vertical_align {
    display: none; }
  .main_container .logo {
    display: none; }

  .container2 {
    display: grid;
    grid-template-columns: 1fr; }
    .container2 .para_text {
      padding: 0; }
      .container2 .para_text .bold_text {
        width: 80%; }
        .container2 .para_text .bold_text p {
          width: 80%; }
    .container2 .img_container {
      display: grid;
      grid-template-columns: 1fr; }
      .container2 .img_container .block_display {
        width: 80%;
        height: auto; }

  .container3 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    width: 80%; }
    .container3 .info {
      padding: 0; }

  .container4 {
    display: grid;
    grid-template-columns: auto;
    padding-left: 0px; }
    .container4 p {
      width: 90%; }
    .container4 .course_img .image_quad {
      width: 80%; }
    .container4 .img_wrapper {
      display: grid;
      grid-template-columns: 1fr; }
      .container4 .img_wrapper .image_enlarge {
        width: 17.85em;
        height: auto; }
      .container4 .img_wrapper .course_img {
        display: grid;
        grid-template-columns: 1fr; }

  .container5 {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0px; }
    .container5 p {
      width: 20em; }
    .container5 .team_member {
      width: 18em;
      height: 18em; }
    .container5 .team_layout {
      display: grid;
      grid-template-columns: 1fr; }
      .container5 .team_layout p {
        width: 17em;
        height: auto; }
      .container5 .team_layout .member_space {
        margin-left: 1em;
        margin-bottom: 1em; }
    .container5 .team_info {
      display: grid;
      grid-template-columns: 1fr; }
      .container5 .team_info hr {
        width: 9em;
        color: #666666;
        margin-left: 0; }

  .container6 {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0px;
    height: auto; }
    .container6 .red_line_fade {
      padding-left: 4em; }
    .container6 .project_stats {
      text-align: center; }

  .contact_info {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0px; }

  .footer {
    display: grid;
    grid-template-columns: 1fr; }
    .footer .copyright {
      padding-left: 1.5em; }
    .footer .follow_us {
      padding-right: 0px;
      text-align: left;
      padding-left: 1.5em; }
      .footer .follow_us i {
        font-size: 0.75em; } }

/*# sourceMappingURL=style.css.map */
