@import'partials/variables',
       'partials/base',
       'partials/layout',
       'partials/components',
       'partials/mixins',
       'partials/responsiveness'; 


///////////////////////////// nav styling start////////////////////////
.container{
    display:grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    height: 60.5px;
    padding-top: 17px;
    z-index: 1;
    
    


    .logo{
        height: 45px;
        width: 200px;

    }
    .logo_flex{
        display: flex;
        align-items: center;
    }
     
    
    
    a{
        text-decoration: none;
        color:#666666;
        padding: 5px;
        
        :hover{
            color: #ee534f;
            background-color: #ee534f;
        }
    }
    .nav_align{
        text-align: right;
        display: flex;
        align-items: center;
    }
    .vertical-align{
        display: flex;
        align-items: center;
    }
    i{
        color: #ee534f;
        
    }
   
    
}

///////////////////////////// nav styling end/////////////////////////
////////////////////////////main image////////////////////////////////
.team_img{
    width: 100%;
   
}

.background_image{
   background-image: url(../images/main_img.jpg);
   background-size: cover;
   height: -webkit-fill-available;
   background-repeat: no-repeat;
   background-color: grey;
   background-blend-mode: multiply;
   font-size: 20px;



}
/////////////////////////main image////////////////////////////////
.container1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    color: #e8e8e8;

    p{
        opacity: 0.9;

    }
///////////////////////////////////red button////////////////////////
    .red_btn{
        background-color:#ee534f;
        color: #e8e8e8;
        @include button;
        
    }
    .slide_right span:after{
        @include slide_right_span_after;
       
    }
    .slide_right:hover span {
        @include slide_right_hover_span;
        
      }
      .slide_right:hover span:after {
        @include slide_right_hover_span_after;

      }
      .slide_right span{
       @include button_right_slide_span;
       
      }
    ///////////////////////////////////red button//////////////////////

    ///////////////////////////////// black button////////////////////
    
    .black_btn {
        background-color: transparent;
        color: #e8e8e8;
        @include button;
        
      }
     
    
      
      .black_btn span {
        @include button_right_slide_span;

      }
      
      .black_btn span:after {
        @include slide_right_span_after;
           
      }
      
      .black_btn:hover span {
        @include slide_right_hover_span;
                
      }
      
      .black_btn:hover span:after {
        @include slide_right_hover_span_after;
        
      }
}
///////////////////////////////// black button////////////////////////
.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include red_line_fade;
    padding-top: 60px;

    .para_text{
        padding-left: 187.5px;
        .bold_text{
            font-weight:bold ;
        }
    }

  

    .img_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        padding-right: 187.5px;


        .block_display{
            width: 220px;
            height: 200px;
            padding: 10px;
        }
    }
    .white_btn {
        background-color: transparent;
        color: black;
        @include button;
        
    }
    

    
    .white_btn span {
        @include button_right_slide_span;

    }
    
    .white_btn span:after {
        @include slide_right_span_after;
        
    }
    
    .white_btn:hover span {
        @include slide_right_hover_span;
                
    }
    
    .white_btn:hover span:after {
        @include slide_right_hover_span_after;
        
    }
}
.container3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    color: #ffffff;
    padding: 60px 147.5px 60px 147.5px;
    margin-top: 100px;

    .info{
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    }

    h2{
       
        font-family: Poppins-semiBold;
        font-size: 17px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        text-align: center;
        display: block;

    }

    i{
        width: 22px;
        height: 19px;
        font-family: FontAwesome;
        font-size: 25px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.65;
        letter-spacing: normal;
        text-align: center;
        color: #ee534f;
    }
   
}
.container4{
    @include red_line_fade;
    padding-left: 187.5px;
    padding-right: 187.5px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.container5{
    @include red_line_fade;
    padding-left: 187.5px;
    padding-right: 187.5;
    .team_info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        

        hr{
            width: 200px;
            color: #666666;
            margin-left: 0;
        }

        .poppins{
            // width: 61px;
            // height: 7.5px;
            font-family: Poppins;
            // font-size: 7px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.86;
            letter-spacing: normal;
            text-align: left;
            color: #888888;
        }
    }
    .team_member{
        width: 300px;
        height: 300px;
    }
}

.container6{
    background-color: #555555;
    height: 300px;
    padding-left: 187.5px;
    padding-right: 187.5px;
}

.container7{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.container8{
    background-color: #666666;
    height: 300px;

}

.contact_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    a{
        text-decoration: none;
    }
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ee534f;
    height: 40px;
    padding-top: 22px;

    .copyright{
        text-align: center;
    }

    .follow_us{
        text-align: center;

        i{
            width: 22px;
            height: 19px;
            font-family: FontAwesome;
            font-size: 25px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.65;
            letter-spacing: normal;
            text-align: center;
            color: #e8e8e8;
        }
        a{
            text-decoration: none;
            padding: 3px;
        }
    }
}
