//button, custom classes, any class self created
//////////////////nav styling start //////////////////
.container{
    a{
        :hover{
            color:$pink;
            background-color: $pink;
        }
    }

    
    .logo{
        height: 60px;
        width: 200px;
        


    }
    .logo_flex{
        display: flex;
        align-items: center;
        margin: 0.7em;
    }
     
    
    
   
    .topnav{
        text-align: center;
        margin-top: 1.5em;
        font-size: 14px;
    
        

        
            :hover{
                color:$white;
                background-color: $pink;
            }       
       
    }
    .vertical_align{
        text-align: -webkit-center;
        margin-top: 2em;
   
}
}

//////////////////nav styling end //////////////////


////////////////////////////main image////////////////////
.team_img{
    width: 100%;
   
}

.background_image{
   background-image: url(../images/main_img.jpg);
   background-size: cover;
   height: -webkit-fill-available;
   background-repeat: no-repeat;
   background-color: $grey;
   background-blend-mode: multiply;
   font-size: 20px;



}
/////////////////////////main image////////////////////////////////
.container1{
    

    ///////////////////////////////////red button start////////////////////////
        .red_btn{
            background-color:$pink;
            color: $white;
            @include button;
            
        }
        .slide_right span:after{
            @include slide_right_span_after;
           
        }
        .slide_right:hover span {
            @include slide_right_hover_span;
            
          }
          .slide_right:hover span:after {
            @include slide_right_hover_span_after;
    
          }
          .slide_right span{
           @include button_right_slide_span;
           
          }
        ///////////////////////////////////red  button end//////////////////////
    
        ///////////////////////////////// black button start////////////////////
        
        .black_btn {
            background-color: transparent;
            color: #e8e8e8;
            @include button;
            
          }
         
        
          
          .black_btn span {
            @include button_right_slide_span;
    
          }
          
          .black_btn span:after {
            @include slide_right_span_after;
               
          }
          
          .black_btn:hover span {
            @include slide_right_hover_span;
                    
          }
          
          .black_btn:hover span:after {
            @include slide_right_hover_span_after;
            
          }
    }
    ///////////////////////////////// black button end////////////////////////

    /////////////////who we are section///////////////
    .container2{
        .para_text{
            .bold_text{
                font-weight:bold ;
            }
        }

        .white_btn {
            background-color: transparent;
            color: $black;
            @include button;
            
        }
        
    
        
        .white_btn span {
            @include button_right_slide_span;
    
        }
        
        .white_btn span:after {
            @include slide_right_span_after;
            
        }
        
        .white_btn:hover span {
            @include slide_right_hover_span;
                    
        }
        
        .white_btn:hover span:after {
            @include slide_right_hover_span_after;
            
        }
    }

    /////////////////who we are section////////////
   /////////////////meet our team//////////////////
   
   .container4{
    .image_quad{
        width: 280px;
        height: 200px;
        padding: 2.5px;
       }
    .image_enlarge{
        width: 590px;
        height: 410px;
        padding-left: 5px;
        padding-top: 3px;
    }
   }
   .container5{
    @include red_line_fade;

   }
   .container7{
       .submit{
        position: relative;
        margin: 2px;
        padding: 0em 0.3em 0em;
        border: 2px solid $pink;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.7em !important;
        -webkit-transition: all .2s;
        transition: all .2s;
        background-color: $pink;
       }
   }
   

   ////////////////meet our team//////////////////
   .footer{
    .copyright{
        text-align: left;
    }

    .follow_us{
        text-align: right;

   }
}

/////////////////////scroll btn///////////////////
#myBtn {
    display: none;
    position: fixed;
    bottom: 20%;
    right: 15px;
    z-index: 1;
    font-size: 15px;
    border: 1mm solid $pink;
    outline: none;
    background-color:transparent;
    color:$pink;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    font-weight: bold;
    
  }

#myBtn:hover {
    background-color: $pink;
    font-size: 18px;
    i{
        color: $white;

    }
   
  }
/////////////////////scroll btn///////////////////



/////////////////////////////////////////////CONTACT PAGE START//////////////////////////////////////////////////////////
.contact_container{
    .contact_input{
        .user_input{
            @include red_line_fade;
        }
    }
 
}
/////////////////////////////////////////////CONTACT PAGE END////////////////////////////////////////////////////////////

////////////////////////////courses page start//////////////////////////
#courseContent{
    .course_btn {
        background-color: $pink;
        color: $white;
        @include button;
        
    }
    
    
    
    .course_btn span {
        @include button_right_slide_span;
    
    }
    
    .course_btn span:after {
        @include slide_right_span_after;
        
    }
    
    .course_btn:hover span {
        @include slide_right_hover_span;
                
    }
    
    .course_btn:hover span:after {
        @include slide_right_hover_span_after;
        
    }
}
////////////////////////////courses page end////////////////////
/////////////////////////about page start////////////////////


.who_we_are{
    @include red_line_fade;
    padding-left: 1em;
}

.welcomeContainer{
    .ourBtn {
        background-color: $pink;
        color: $pink;
        @include button;
         :visited{
            color: $white;
        }
    }
    
    
    
    .ourBtn span {
        @include button_right_slide_span;
    
    }
    
    .ourBtn span:after {
        @include slide_right_span_after;
        
    }
    
    .ourBtn:hover span {
        @include slide_right_hover_span;
                
    }
    
    .ourBtn:hover span:after {
        @include slide_right_hover_span_after;
        
    } 

   
}

.values{
    h4{
        color: $pink;
    }
        margin-top: 2em;
        margin-bottom: 2em;
}
.valueText{
    padding: 2em;

}
/////////////////////////about page end////////////////////

////////////////////contact page start////////////////////////
.contact_input{
    .emailBtn {
        background-color: $pink;
        color: $white;
        @include button;
       
    }
    
    
    
    .emailBtn span {
        @include button_right_slide_span;
    
    }
    
    .emailBtn span:after {
        @include slide_right_span_after;
        
    }
    
    .emailBtn:hover span {
        @include slide_right_hover_span;
                
    }
    
    .emailBtn:hover span:after {
        @include slide_right_hover_span_after;
        
    } 

    .user_input{
        @include red_line_fade;
        margin-left: 10em;

        .spaceInput{
            margin: 1em;
        }

    }

    .contact_information{
        @include red_line_fade;
        margin-right: 10em;
    }

}
////////////////////contact page end////////////////////////

////////////portfolio page start//////////////////////

.portHeading{
    @include red_line_fade2;

}

.gridButtons{
    .gridImage {
        background-color: $pink;
        color: $white;
        @include button;
       
    }
    
    
    
    .gridImage span {
        @include button_right_slide_span;
    
    }
    
    .gridImage span:after {
        @include slide_right_span_after;
        
    }
    
    .gridImage:hover span {
        @include slide_right_hover_span;
                
    }
    
    .gridImage:hover span:after {
        @include slide_right_hover_span_after;
        
    } 

    margin-bottom: 4em;

}
////////////portfolio page end//////////////////////
