//////////////////nav styling start //////////////////
.container{
    display:grid;
    grid-template-columns: 0.5fr 1fr 0.7fr;
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    height: 15%;
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    text-align: left;
    min-width: 30%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
//////////////////nav styling end //////////////////

/////////////////text on main image////////////////
.container1{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    color: #e8e8e8;
}
/////////////////text on main image////////////////

/////////////////who we are section///////////////
.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include red_line_fade;
    padding-top: 1em;

    .img_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        align-content: center;



        .block_display{
            width: 207px;
            height: 200px;
            padding: 10px;
        }
    }
}

/////////////////who we are section//////////////

////////////////code4ct info/////////////////////
.container3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    color: #ffffff;
    padding: 35px 48.5px 20px 48.5px;
    margin-top: 100px;

    .info{
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    } 
}
////////////////code4ct info/////////////////////

///////////////our exciting courses/////////////
.container4{
    @include red_line_fade;
    padding-left: 92.5px;
    padding-right: 92.5px;
    margin-bottom: 50px;
    margin-top: 50px;

    .img_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        // width: min-content;
        
        .course_img{
            display: grid;
            grid-template-columns: 1fr 1fr;
            // width: min-content;
        }

    }
}
///////////////our exciting courses/////////////
//////////////meet our team////////////////////
.container5{
    padding-left: 92.5px;
    padding-right: 92.5px;
    .team_info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        

        hr{
            width: 200px;
            color: #666666;
            margin-left: 0;
        }

        .poppins{
            font-family: Poppins;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.86;
            letter-spacing: normal;
            text-align: left;
            color: #888888;
            height: auto;
        }
    }
    .team_member{
        width: 190px;
        height: 258px;
    }
    .team_layout{
        display: grid;
        grid-template-columns: 1fr 1fr;
        // height:min-content;
        // width: min-content;
        .member_space{
            margin-left: 20px;
            margin-bottom: 20px;
        }
        
    }
}
///////////////////meet our team///////////////////

//////////////////project stats///////////////////
.container6{
    @include red_line_fade;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    color: #e8e8e8;
    height: 300px;
    padding-left: 93px;
    .red_line_fade{
    margin-top: 50px;
    height: 20px;

    .red_line{
        height: 5px;

    }
    .fade{
        height: 5px;
    }
}
    
}
//////////////////project stats///////////////////

/////////////////subscribe to us//////////////////
.container7{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

/////////////////subscribe to us//////////////////

//////////////////carousel/////////////////////////
.carousel{
    background-color: black;
    width: 100%;
    height: 200px;
}

.container_carousel{
    display: block;
    margin: 0 auto;
    height: 178px;
    border: 1px solid black;
    overflow: hidden;
    background-color: black;
}

.sub{
    height: 180px;
    width: 5180px;
    background-color: black;

    animation-name: carousel;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative; left:100%;
}
.sub img{
    display: inline;
    width: auto;
    height: 180px;
    margin-right:50px;
}


@keyframes carousel{
    100%{
        position: relative;left:-4580px;
    }
}
//////////////////carousel/////////////////////////

.contact_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 92px;
    .contact_number{
        padding-top: 62px;

    }
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ee534f;
    height: 40px;
    padding-top: 22px;
    
    .follow_us{
        padding-right: 62px;
    }
    .copyright{
        padding-left: 55px;
    }
}