@media screen and (max-width: 600px){

    html, body{
        // width: 420px;
        // text-align: center;
        // margin: 5px;


    }
    .background_image{
        width: 15.75em;
        height: 45.625em;
    }

    .main_container{
        .container{
            display: none;
        }
        
        .container1 {
            text-align: center; 
            position: absolute; 
            top: 13.75em; 
            height: 31.25em; 
            transform: inherit;
            color: #e8e8e8;
        }

        .vertical_align{
            display: none;
        }
        .logo{
            display: none;
        }


    }
    // ==============who we are==================
    .container2{
        display: grid;
        grid-template-columns: 1fr;
        .para_text{
        padding: 0;
        .bold_text{
            width: 90%;
            p{
                width: 90%;
            }
        }
        
            
        }
    

        .img_container{
            display: grid;
            grid-template-columns: 1fr;
            .block_display{
                width: 90%;
            }
        }
    }

    // ==============who we are==================

    .container3{
        display: grid;
        grid-template-columns: 1fr;
        

        .info{
            padding: 0;
        }

    }

    .container4{
        display: grid;
        grid-template-columns: auto;
        padding-left: 0px;

        p{
            width: 90%;
        }
        .course_img{
            .image_quad{
                width: 18em;
            }
        }

        


        .img_wrapper{
            display: grid;
            grid-template-columns: 1fr;
            .image_enlarge {
                width: 17.85em;
                height: auto;
                
            }
            .course_img{
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }

    .container5{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 0px;
        p{
            width: 20em;
        }
        .team_member{
            width: 18em;
            height: 18em;
        }

        .team_layout{
            display: grid;
            grid-template-columns: 1fr;
            p{
                width: 17em;
                height: auto;
            }
            .member_space {
                margin-left: 1em;
                margin-bottom: 1em;
            }
        }


        .team_info{
            display: grid;
            grid-template-columns: 1fr;

            hr {
                width: 9em;
                color: #666666;
                margin-left: 0;
            }
        }
    }

    .container6{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 0px;
        height: auto;

        .red_line_fade{
            padding-left: 4em;
        }

        .project_stats{
            text-align: center;

        }
    }

    .contact_info{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 0px;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        .copyright{
        padding-left: 0px;

        }
        .follow_us{
            padding-right: 0px;
            text-align: left;

            i{
                font-size: 0.75em;
            }
        }
    }
}
